@import "variables.scss";

//Bootstrap
.container-custom {width: 100%;max-width: none;padding-right: 4px;padding-left: 4px;margin-right: auto;margin-left: auto;}
.container {padding-right: 4px;padding-left: 4px;}
@media (min-width: 576px) {
  .container-custom {max-width: 540px;}
}

@media (min-width: 768px) {
  .container-custom {max-width: 720px;}
}

@media (min-width: 992px) {
  .container-custom {max-width: 960px;}
}

@media (min-width: 1200px) {
  .container-custom {max-width: 1620px;}
  .container {max-width: 1188px}
}
.container-fluid-custom {width: 100%;padding-right: 4px;padding-left: 4px;margin-right: auto;margin-left: auto;}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
  padding-right: 4px;
  padding-left: 4px;
}
.row {margin-left: -4px;margin-right: -4px}

//5 column in row
.col-five,
.col-sm-five,
.col-md-five,
.col-lg-five,
.col-xl-five {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 4px;
  padding-left: 4px;
}
.col-five {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
@media (min-width: 540px) {
  .col-sm-five {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 720px) {
  .col-md-five {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 960px) {
  .col-lg-five {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 1620px) {
  .col-xl-five {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}







//Global
html, body {height: 100%;}
a {color: $color-text;text-decoration: none;-webkit-font-smoothing: antialiased;
  @include transition(color .3s ease);
  &:hover {
    color: $color-theme-primary;
  }
  &.color_blue,
  &.color_link {
    &:hover {color: $color-theme-primary}
  }
}
img {max-width: 100%}
b,strong {font-weight: $font-bold;}

//Font Weight
.font_regular{font-weight: normal}
.font_bold{font-weight: bold}

.fieldset {border: none;margin: 0;padding: 0}
//Slide

//Color
.color_white {color: white}
.color_blue {color: $color-theme-primary}
.color_link {color: $color-link}
.color_text {color: $color-text}
.color_text_secondary {color: $color-text-secondary}

//Font Size
.font_size_tiny,
.font_size_12 {font-size: $font-size-tiny}

.font_size_xs,
.font_size_14 {font-size: $font-size-xs}

.font_size_s,
.font_size_16 {font-size: $font-size-s}

.font_size_m,
.font_size_18 {font-size: $font-size-m}

.font_size_b,
.font_size_20 {font-size: $font-size-b}

.font_size_26,
.font_size_2b {font-size: $font-size-2b}

.font_size_32,
.font_size_3b {font-size: $font-size-3b}

//Text Align
.text_center {text-align: center !important;}
.text_left {text-align: left !important;}
.text_right {text-align: right !important;}
.text_justify {text-align: justify !important;}

.no-gutters {margin-right: 0;margin-left: 0;
  > .col,
  > [class*="col-"] {padding-right: 0;padding-left: 0;}
}

.clearfix {*zoom: 1;
  &:before,
  &:after {content: " ";display: table;}
  &:after {clear: both;}
}

.message-box {border: 1px solid;border-radius: 4px;padding: 20px!important;
  &.message-error {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
  li {list-style: none;}
}

//Main
.page_main {
  @media (min-width: $bp-l) {
    min-height: 500px
  }
}
.page_name {text-align: center;padding: 40px 0}
.page_title {margin: 0;font-size: $font-size-2b;color: $color-text;text-align: center;font-weight: $font-bold;
  @media (min-width: $bp-md) {
    text-align: left;font-size: $font-size-3b;
  }
}

.main_body {margin-bottom: 30px;padding: 0 10px;
  @media (min-width: $bp-md) {
    //padding: 0 30px;
    #page_home & {padding: 0 20px}
  }
  /*@media (min-width: $bp-xl) {
    padding: 0 50px;
  }*/
}
.main_content {}



//Form
.frm_common {margin-bottom: 25px;
  .frm_fieldset {border: none;margin: 0 0 25px;padding: 0;
    &:last-child {margin: 0}
  }
  .frm_label {margin: 0 0 10px;font-weight: $font-bold;display: inline-block}
  .frm_row {margin-bottom: 15px;
    &:last-child {margin: 0}
  }
}



//Input text
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {outline: none;-webkit-appearance: none;border-radius: 0;}

textarea {width: 100%; resize: none;}
input[type="checkbox"]{margin-right: 5px;vertical-align: middle}

%input-text ,
%reset-input {background: white;font-family: 'Muli',sans-serif;border: solid 1px $color-border;outline: none;padding: 5px 10px;box-shadow: none;color: $color-text;display: block;width: 100%;font-size: $font-size-s;min-height: 35px;font-weight: $font-base;;}

.textarea {
  @extend %reset-input;
}

.option_style {font-size: 0;margin: 0 8px 0 0;display: inline-block;
  .option_style_label {background: white;color: $color-text-input;display: block;text-align: center;outline: none;padding: 5px 15px;overflow: hidden;border: solid 1px $color-text-input;cursor: pointer;font-size: $font-size-xs;
    @include transition(all .3s ease);
  }
  &:last-child {margin: 0}
  .option_style_input {opacity: 0;visibility: hidden;display: none}
  //Action
  .option_style_input:checked + .option_style_label {border-color: $color-text;color: $color-text}
  .option_style_input:focus + .option_style_label {border-color: $color-text;color: $color-text}
  .option_style_input:active + .option_style_label {border-color: $color-text;color: $color-text}
}

.select_wrap{background: white;position: relative;overflow: hidden;color: $color-text-input;
  ins {color: inherit;position: absolute;top: 50%;right: 10px;width: 15px;
    @include translate(0,-50%);
  }
  &:hover {
    ins {}
  }
  select.select_common {background: transparent;font-family: 'Muli',sans-serif;display: block;border: solid 1px $color-border;padding: 0 30px 0 10px;cursor: pointer;width: 100%;height: 100%;color: $color-text;position: relative;z-index: 1;font-weight: $font-base;;
    -webkit-appearance: none !important;  /*Removes default chrome and safari style*/
    -moz-appearance: none !important;  /*Removes default style Firefox*/
    appearance: none !important;
    @include border-radius(0);
    &:hover,
    &:focus {cursor: pointer;outline: none;border-color: $color-theme-primary;}
    option {padding: 5px 0 5px 0;box-shadow:32px -25px 50px -40px black inset;}
  }
  &.select_common--micro {height: 25px;font-size: $font-size-xs;}
  &.select_common--tiny {height: 30px;font-size: $font-size-xs;}
  &.select_common--small {height: 35px;font-size: $font-size-s;}
  &.select_common--medium {height: 45px;font-size: $font-size-s;}
  &.select_common--large {height: 45px;font-size: $font-size-m;}
}
.input_wrap {position: relative;
  .input_icon {position: absolute;top: 0;right: 0;width: 20px;color: $color-input-placeholder}
}
.input_common {
  @extend %input-text;
  @include transition(all .3s ease);
  @include input-placeholder {color: $color-border-third;font-weight: $font-base;;}
  &:focus {box-shadow: none;border-color: $color-theme-primary;
    & + .input_icon{color: $color-text}
    &::placeholder {color: $color-input-placeholder-focus}
  }
  &.input_common--micro {min-height: 25px;}
  &.input_common--tiny {min-height: 30px;}
  &.input_common--small {min-height: 35px;}
  &.input_common--medium {min-height: 45px;}
  &.input_common--large {min-height: 45px;font-size: $font-size-m}
  &.input_common--full {display: block;width: 100%}
  &.disabled {background: #d6d6d6;line-height: 23px;}
}
//Style radio
.styled_radio {background: #fff;display: inline-block;vertical-align: middle;position: relative;margin: 0;padding: 0;
  input {position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;cursor: pointer;z-index: 2;margin: 0;
    &:checked + ins {border-color: #1496f5;
      &::before {content: '';background: $color-theme-primary;width: calc(100% - 6px);height: calc(100% - 6px);display: block;top: 3px;left: 3px;position: absolute;
        @include border-radius(50%);
      }
    }
  }
  ins {display: block;width: 14px;height: 14px;border: 1px solid #9c9c9c;position: relative;
    @include border-radius(50%);
  }
}

//Styled checkbox
div.styled-checkbox {
    ins {border-color: $color-text;
      svg {margin: 2px 1px}
    }
}




//Button
@mixin button_common {font-family: 'Muli',sans-serif;display: inline-block;text-align: center;outline: none;padding: 0 10px;overflow: hidden;border: none;cursor: pointer;color: white;min-height: 35px;line-height: 35px;
  @include transition(all .3s ease);
  img {margin-right: 5px;vertical-align: middle;width: inherit}
  i {vertical-align: middle;
    &:first-child {margin: 0 5px;}
    &:only-child {margin: 0}
  }

  &.button_micro {font-size: $font-size-tiny;min-height: 25px;line-height: 25px;font-weight: normal}
  &.button_tiny {font-size: $font-size-tiny;min-height: 30px;line-height: 30px;font-weight: normal}
  &.button_small {font-size: $font-size-s;min-height: 35px;line-height: 35px;font-weight: $font-bold}
  &.button_medium {font-size: $font-size-s;min-height: 45px;line-height: 45px;font-weight: $font-bold}
  &.button_large {font-size: $font-size-m;min-height: 50px;line-height: 50px;font-weight: $font-bold}
  &.button_xlarge {font-size: $font-size-2b;min-height: 70px;line-height: 70px;font-weight: $font-bold}
  &.button_full {display: block;width: 100%}

  &.disabled,
  &:disabled {background: $color-disable !important;color: $color-text-secondary !important;border-color: $color-disable !important;cursor: auto}

  &:hover,
  &:focus,
  &.active,
  &:active {background: $color-theme-button-hover;color: white;cursor: pointer}
}

.button_primary {background: $color-theme-button;color: white;
  @include button_common;
  &:hover {background: $color-theme-button-hover}
}

.button_secondary {background: $color-green;
  @include button_common;
  &:hover {background: $color-green-secondary}
}

.button_thirdty {background: $color-bg-secondary;color: $color-text !important;
  @include button_common;
  &:hover {background: $color-bg-third}
}

.button_border{
  @include button_common;
  background: white;color: $color-text;border-color:$color-text;
  &:hover {border-color: $color-text;color: $color-text}
}

.message-box {
  &.message-success {color: #155724;background-color: #d4edda;border-color: #c3e6cb;}
  li {list-style: none;}
}

.hide {display: none !important;}
/*.d-block {
  display: block!important;
}
.d-none {
  display: none!important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }

  .d-sm-block {
    display: block!important;
  }
}


@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }

  .d-md-block {
    display: block!important;
  }
}*/
hr.dashed {@extend %clearfix;border: 0;border-top: 1px dashed #e0e0e0;}

.scroll_mobile_h {
  display: flex !important;; /* [1] */
  flex-wrap: nowrap !important; /* [1] */
  overflow-x: auto !important;; /* [1] */
  -webkit-overflow-scrolling: touch; /* [4] */
  -ms-overflow-style: none; /* [5] */
  overflow: -moz-scrollbars-none;
}
.scroll_mobile_h::-webkit-scrollbar {
  //width: 0 !important
}

img.lazy_load {background-size: cover}


//Alert
.alert {padding: 10px 0;
  .alert_content {margin: 0;font-size: $font-size-xs;}
  &.alert_orange {background: rgba(#FF5C00,.07);color: #FF5C00}
}
#alert_covid {display: flex;padding: 15px;border: dashed 0.5px #FF5C00;
  @include border-radius(5px);
  .alert_icon {width: 35px;display: inline-block;font-size: 0;margin: 0 15px 0 0;
    svg {width: 100%}
  }
  .alert_content {flex: 1}
}


.covid19_delay_notice {font-weight: $font-bold;margin: 0 auto 50px;
  a {display: block;background: rgba(40, 35, 100, 0.07);border: 0.5px dashed #3A8EFF;border-radius: 3px;padding: 8px 35px;text-align: center;color: $color-theme-primary;
    svg {width: 35px;margin: 0 15px 0 0;vertical-align: -5px}
  }
  .track_order_main & {max-width: 300px}
}

.breadcrumb_container {padding: 5px 0;margin-bottom: 30px;
  @media (max-width: $bp-md) {
    margin-bottom: 0px;
    font-size: 14px;
  }
}
#breadcrumb {align-items: center;display: flex;@include truncate(100%); @media(max-width: $bp-md) {padding-left: 10px;}}
.breadcrumb_item {margin-right: 10px;
  &--current {color: $color-text}
  &:last-child {margin: 0;
    a i.breadcrumb_arrow {display: none;

    }
    @include truncate(100%);
  }
  a {color: $color-text-third;
    &:hover {color: $color-theme-primary}
  }
}
i.breadcrumb_arrow {display: inline-block;width: 10px;font-size: 0;vertical-align: middle;margin: 0 0 0 5px;
  @include rotate(-90);
}

.category_banner_empty {padding: 15px 0;text-align: center;position: relative;margin-bottom: 30px;
  .category_banner_name {text-shadow: inherit;color: $color-text;font-size: $font-size-2b;margin: 0 0 20px;font-weight: $font-bold;}
  @media (min-width: $bp-md) {
    padding: 30px 0;
    .category_banner_name {font-size: $font-size-3b;}
  }
}